*{
    margin: 0px;
    padding: 0px;
}

#navbar header{
    display: flex;
    justify-content: space-between;
    padding: 1px ;
    background-color: #EDE6D8;
    height: 20px;
}
.title{
    color: #544434;
    text-align: right;
    font-size: 1.5vw;
    background-color: #EDE6D8;
    padding-bottom: 12px;
}

.profileicon{
    width: 63px;
    height: 55px;
    margin-left: 5px;
    position: fixed;
}
.sidenavbar{
    margin-left: 25px;
    width: 58px;
    height: 673px;
    background-color: #EDE6D8;
    position: fixed;
    border-radius: 20px;
}
.links{
    padding: 6px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}
.links img{
    border-radius: 10px;
    margin-left: 6px;
    margin-top: 15px;
    width: 35px;
    background-color:#f9f9f9;
}

.studybackground{
    background-color:#CDC2AE;
    width: 100vw;
    height: 100vh;
    padding-top: 30px;
}
.studybg{
    position: absolute;
    top: 20%;
    left: 9%;
    text-align: right;
    margin-right: 80px;
}
.studybg img{
    float: right;
    width: 400px;
    height: 250px;
   
    border-radius: 15px;
}
.studybg h2{
    font-size: 4vw;
    font-family: 'Merriweather', serif;
}
.studybg h3{
    margin-top: 5px;
    color: #F8F1EA;
    font-size: 1.5vw;
}
.studybg p{
    margin-top: 6px;
    color: rgb(0, 0, 0);
    font-size: 1.5vw;
    text-align: left;
    padding: 5px;
}
